{% if current_user.is_authenticated %}
{% extends 'base_page.html' %}

{% block conteudo %}
<section id="cadastrar-proprietario" class="pt-5">
  <div class="container">
    <div class="breadcrumb-pagina">
      {% set breadcrumb_items=['Home', 'Proprietários', 'Cadastro de proprietário'] %}
      {% include 'breadcrumb.html'%}
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="card-info mt-4 mt-sm-5 mt-lg-5">
      <form action="" class="mt-3 needs-validation" method="post" novalidate>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3">
            <div class="item-form">
              <label for="nome" class="form-label">Nome:</label>
              <input class="form-control form-control-sm" type="text" id="nome" name="nome" required>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3">
            <div class="item-form">
              <label for="email" class="form-label">Email:</label>
              <input class="form-control form-control-sm" type="email" id="email" name="email">
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3">
            <div class="item-form">
              <label for="cpf" class="form-label">CPF:</label>
              <input class="form-control form-control-sm" type="text" id="cpf" name="cpf" required>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3">
            <div class="item-form">
              <label for="rg" class="form-label">RG:</label>
              <input class="form-control form-control-sm" type="text" id="rg" name="rg" required>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3">
            <div class="item-form">
              <label for="data-nascimento" class="form-label">Data de nascimento:</label>
              <input class="form-control form-control-sm" type="date" id="data-nascimento" name="data-nascimento" required>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3">
            <div class="item-form">
              <label for="profissao" class="form-label">Profissão:</label>
              <input class="form-control form-control-sm" type="text" id="profissao" name="profissao" required>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3">
            <div class="item-form">
              <label for="celular-principal" class="form-label">Número de contato:</label>
              <input class="form-control form-control-sm" type="text" id="celular-principal" name="celular-principal" maxlength="11" required>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3">
            <div class="item-form">
              <label for="celular-secundario" class="form-label">Número secundário:</label>
              <input class="form-control form-control-sm" type="text" id="celular-secundario" name="celular-secundario" maxlength="11">
            </div>
          </div>
          <div class="col-12">
            <div class="botoes-acao mt-3">
              <a href="javascript:history.back()" class="botao-transparente">Voltar</a>
              <button class="botao-default" type="submit">Cadastrar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock conteudo %}
{% else %}
{% include 'sem_autorizacao.html' %}
{%endif%}
