{% if current_user.is_authenticated %}
{% extends 'base_page.html' %}
{% block conteudo %}

<section id="topo-configuracao">
  <div class="container">
    <div class="filtro-busca-item">
      <div class="row">
        {% set rota='criarProduto' %}
        {% set nome_botao='Adicionar novo produto' %}
        {% set placeholder='Buscar produto...' %}
        {% include 'componente-filtro-cadastro.html'%}
      </div>
    </div>
  </div>
</section>

<section id="filtro-pesquisa">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="botao-filtragem">
          <button class="botao-default" data-bs-toggle="modal" data-bs-target="#filtroModal"><i
              class="fa-solid fa-filter"></i> Filtro</button>
          <div class="modal fade" id="filtroModal" tabindex="-1" aria-labelledby="filtroModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="filtroModalLabel">Filtro de busca</h5>
                </div>
                <div class="modal-body">
                  <form action="/almoxarifado" method="get">
                    <div class="form-group mb-3">
                      <label for="categoria-produto" class="form-label"><strong>Categoria do produto</strong></label>
                      <select class="form-control form-control-sm" id="categoria-produto" name="categoria-produto">
                        <option value="" selected>--Todos--</option>
                        {% for categoria_produto in categoria_produtos %}
                        {% if categoria_produto.ativo == 1 %}
                        <option value="{{ categoria_produto.id }}">{{ categoria_produto.tipo }}</option>
                        {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="botao-default">Filtrar</button>
                      <button type="button" class="botao-transparente" data-bs-dismiss="modal">Fechar</button>
                    </div>
                  </form>
                  <!-- Conteúdo do filtro (campos com selects) -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="area-almoxarifado">
  <div class="dados-tabela">
    <div class="container">
      <div class="row">
        {% if produtos %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-lg-6">
          <div class="botao-exportar-pdf mt-3">
            <a href="{{ url_for('exportar_pdf_rota', entity_name='produtos') }}" class="botao-pdf"><i
                class="fa-solid fa-file-pdf"></i> Exportar para PDF</a>
          </div>
        </div>
        <div class="col-12 pt-5">
          <div class="tabela-info">
            <div class="table-responsive">
              <table cellpadding="0" cellspacing="0" class="table">
                <thead>
                  <tr>
                    <th scope="col"><a
                        href="{{ url_for('almoxarifado', order_by='codigo_produto', order_direction=next_order_direction) }}">Código</a>
                      {% if order_by == None %}
                      <i class="fa fa-sort"></i>
                      {% endif %}

                      {% if order_by == 'codigo_produto' %}
                      <i class="fa fa-sort-{{ 'up' if order_direction == 'asc' else 'down' }}"></i>
                      {% endif %}
                    </th>

                    <th scope="col"><a
                        href="{{ url_for('almoxarifado', order_by='nome', order_direction=next_order_direction) }}">Nome</a>
                      {% if order_by == None %}
                      <i class="fa fa-sort"></i>
                      {% endif %}

                      {% if order_by == 'nome' %}
                      <i class="fa fa-sort-{{ 'up' if order_direction == 'asc' else 'down' }}"></i>
                      {% endif %}
                    </th>

                    <th scope="col"><a
                        href="{{ url_for('almoxarifado', order_by='valor', order_direction=next_order_direction) }}">Valor</a>
                      {% if order_by == None %}
                      <i class="fa fa-sort"></i>
                      {% endif %}

                      {% if order_by == 'valor' %}
                      <i class="fa fa-sort-{{ 'up' if order_direction == 'asc' else 'down' }}"></i>
                      {% endif %}
                    </th>

                    <th scope="col"><a
                        href="{{ url_for('almoxarifado', order_by='quantidade_estoque', order_direction=next_order_direction) }}">Quantidade
                        no estoque</a>
                      {% if order_by == None %}
                      <i class="fa fa-sort"></i>
                      {% endif %}

                      {% if order_by == 'quantidade_estoque' %}
                      <i class="fa fa-sort-{{ 'up' if order_direction == 'asc' else 'down' }}"></i>
                      {% endif %}
                    </th>
                    <th scope="col">Categoria</a></th>
                    <th scope="col" class="actions">Ações</th>
                  </tr>
                </thead>

                {% for produto in produtos %}
                {% if produto.ativo == 1 %}
                <tbody>
                  <tr>
                    <td>{{ produto.codigo_produto }}</td>
                    <td>{{ produto.nome }}</td>
                    <td>R$ {{ formatacao_valor_numerico(produto.valor) }}</td>
                    <td>{{ formatacao_valor_numerico(produto.quantidade_estoque) }}</td>
                    <td>
                      {% if produto.categoria.ativo == 1 %}
                      <span class="badge text-bg-success">{{ produto.categoria.tipo }}</span>
                      {% else %}
                      <span class="badge text-bg-danger">{{ Vazio }}</span>
                      {% endif %}
                    </td>
                    <td class="acao">
                      <a href="{{url_for('visualizarProduto', id=produto.id)}}" class="link botao-acao-tabela"
                        title="Visualizar">
                        <i class="fa-regular fa-eye"></i>
                      </a>
                      <a href="{{url_for('editarProduto', id=produto.id)}}" class="link botao-acao-tabela"
                        title="Editar">
                        <i class="fa-regular fa-pen"></i>
                      </a>
                      <!-- Button trigger modal -->
                      <button type="button" class="link botao-acao-tabela" data-bs-toggle="modal"
                        data-bs-target="#modalExclusao-{{ produto.id }}">
                        <i class="fa-regular fa-xmark"></i>
                      </button>
                      <a href="" class="link link-mais-opcoes d-lg-inline" role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Mais opções">
                        <i class="fa-sharp fa-light fa-caret-down"></i>
                      </a>
                      <div class="drodpown-mais-opcoes">
                        <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="dropdownMenuLink">
                          <li>
                            <a class="text-center" href="{{ url_for('listagemMovimentacoes', id=produto.id) }}">
                              <i class="fa-sharp fa-light fa-exchange text-primary"></i> Movimentações
                            </a>
                          </li>
                        </ul>
                      </div>
                      <!-- Modal -->
                      <div class="modal fade" id="modalExclusao-{{ produto.id }}" tabindex="-1"
                        aria-labelledby="modalExclusaoLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content topo">
                            <div class="modal-header">
                              <i class="fa-thin fa-square-xmark"></i>
                            </div>
                            <form action="{{url_for('excluirProduto', id=produto.id)}}" method="POST">
                              <div class="modal-body">
                                <label class="custom-label-modal-body" for="removerProduto">Deseja remover o produto
                                  '{{ produto.nome }}' ?</label>
                              </div>
                              <div class="modal-footer">
                                <button type="submit" class="botao-default">Sim</button>
                                <button type="button" class="botao-transparente" data-bs-dismiss="modal">Não</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
                {% endif %}
                {% endfor %}
              </table>
            </div>
          </div>
          {% set endpoint = 'almoxarifado' %}
          {% include 'pagination.html'%}
        </div>
        {% else %}
        <div class="mensagem-indisponivel mt-3">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <span> Não há produtos para serem exibidos.</span>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Table mobile -->
  <div class="dados-tabela-mobile mt-4">
    <div class="container">
      <div class="row">
        {% if produtos %}
        <div class="col-12">
          <div class="tabela-info">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              {% for produto in produtos %}
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne{{ produto.id }}" aria-expanded="false"
                    aria-controls="flush-collapseOne{{ produto.id }}">
                    {{ produto.nome }}
                  </button>
                </h2>
                <div id="flush-collapseOne{{ produto.id }}" class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th scope="col">Código</th>
                          <th scope="col">Qntde em estoque</a></th>
                          <th scope="col" class="actions">Ações</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ produto.codigo_produto }}</td>
                          <td>{{ produto.quantidade_estoque }}</td>
                          <td class="acao">
                            <a href="{{url_for('visualizarProduto', id=produto.id)}}" class="link link-visualizacao"
                              title="Visualizar">
                              <i class="fa-regular fa-eye"></i>
                            </a>
                            <a href="{{url_for('editarProduto', id=produto.id)}}" class="link link-edicao"
                              title="Editar">
                              <i class="fa-regular fa-pen"></i>
                            </a>
                            <!-- Button trigger modal -->
                            <button type="button" class="botao botao-exclusao" data-bs-toggle="modal"
                              data-bs-target="#modalExclusaoMobile{{ produto.id }}">
                              <i class="fa-regular fa-xmark"></i>
                            </button>
                            <a href="" class="link link-mais-opcoes d-lg-inline" role="button" id="dropdownMenuLink"
                              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Mais opções">
                              <i class="fa-sharp fa-light fa-caret-down"></i>
                            </a>
                            <div class="drodpown-mais-opcoes">
                              <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="dropdownMenuLink">
                                <li>
                                  <a class="text-center" href="{{ url_for('listagemMovimentacoes', id=produto.id) }}">
                                    <i class="fa-sharp fa-light fa-exchange text-primary"></i> Movimentações
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="modalExclusaoMobile{{ produto.id }}" tabindex="-1"
                              aria-labelledby="modalExclusaoMobile{{ produto.id }}Label" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <i class="fa-thin fa-square-xmark"></i>
                                  </div>
                                  <form action="{{url_for('excluirProduto', id=produto.id)}}" method="POST">
                                    <div class="modal-body">
                                      <label class="custom-label-modal-body" for="removerProduto">Deseja remover o
                                        produto
                                        '{{ produto.nome }}' ?</label>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="submit" class="botao-default">Sim</button>
                                      <button type="button" class="botao-transparente"
                                        data-bs-dismiss="modal">Não</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% set endpoint = 'almoxarifado' %}
          {% include 'pagination.html'%}
        </div>
        {% else %}
        <div class="mensagem-indisponivel mt-3">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <span> Não há produtos para serem exibidos.</span>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock conteudo %}
{% else %}
{% include 'sem_autorizacao.html' %}
{% endif%}