<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-lg-6">
  <div class="botao-criar-proproprietario">
    <a href="{{ url_for(rota) }}" class="botao-default"><i class="fa-solid fa-plus"></i>
      {{ nome_botao }}</a>
  </div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-lg-6">
  <form action="" method="get">
    <div class="area-busca">
      <input class="form-control form-control-sm" type="search" name="search" id="search" placeholder="{{ placeholder }}">
      <button type="submit" class="botao-submit"><i class="fa-sharp fa-light fa-magnifying-glass"></i></button>
    </div>
  </form>
</div>